body {
  display: -webkit-flex;
  display:         flex;
  -webkit-justify-content: center;
          justify-content: center;
  width: 100%;

  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  font-family: "PT Sans", "Helvetica", "Tahoma", sans-serif;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}
a {
  color: #000000;
}
h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}
li {
  list-style: none;
}
p {
  line-height: 21px;
  color: #333333;
}
section,
article,
footer,
.filtres-form {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
}
.container {
  width: 1200px;

  background-color: #ffffff;
}
.main-header {
  position: relative;
}
.main-navigation > ul {
  display: -webkit-flex;
  display:    -moz-flex;
  display:     -ms-flex;
  display:      -o-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  min-height: 56px;
  margin: 0;
  padding: 0;
}
.main-navigation > ul > li > a {
  padding: 19px 80px;

  font-weight: bold;
  color: #000000;
  text-decoration: none;

  background-color: #ffffff;
}
.main-navigation > ul > li > a:hover {
  color: #81b3d2;

  background-color: #fffde0;
}
.main-navigation > ul > li > a:active {
  color: #b2b2b2;
}
.index-logo {
  position: absolute;
  top: 0;
  right: 45%;
  bottom: 0;
}
.main-image-block {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  margin: 0;
  padding: 0;

  background-image: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.image-sedona-titles {
  margin-top: 75px;
  margin-bottom: 80px;
}
.image-sedona-line {
  vertical-align: bottom;
}
.reasons-title {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  margin: 0;
  padding: 0;
}
.reasons-title h1,
.hotels-found-info h1 {
  line-height: 26px;
}
.reasons-title h1,
.reasons-title p {
  width: 100%;

  text-align: center;
}
.reasons-title h1 {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}
.reasons-title p {
  margin: 0;
  margin-bottom: 60px;
}
.reasons {
  -webkit-align-items: center;
          align-items: center;
  min-height: 256px;
  margin: 0;
  padding: 0;
}
.reasons-blue {
  background-color: #81b3d2;
}
.reasons-blue-content {
  width: 400px;

  text-align: center;
}
.reasons-blue h2,
.reasons-blue span,
.reasons-blue p {
  color: #ffffff;
}
.reason-image {
  height: 256px;
}
.features {
  -webkit-align-items: center;
          align-items: center;
  min-height: 330px;
}
.features-item,
.reason-item {
  width: 400px;

  text-align: center;
}
.reasons-grey {
  background-color: #eeeeee;
}
.reasons-grey h2 {
  color: #000000;
}
.search-hotels {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  min-height: 290px;
  margin: 0;
  padding: 0;
}
.search-hotels h3,
.search-hotels h3 {
  line-height: 26px;
}
.search-hotels h3,
.search-hotels p {
  width: 100%;

  text-align: center;
}
.search-hotels h3 {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 40px;
}
.search-hotels p {
  margin: 0;
  margin-bottom: 60px;
}
.btn {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  border: none;
  outline: none;
}
.btn:hover,
.btn:active {
  cursor: pointer;
}
.btn:active {
  outline: none;
}
.btn-search-hotels {
  padding: 20px 139px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;

  background-color: #766357;
}
.bg-map-footer {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.map {
  -webkit-justify-content: center;
          justify-content: center;
  min-height: 500px;
  margin: 0;
  padding: 0;
}
.map-form {
  box-sizing: border-box;
  width: 567px;
  height: 400px;
  padding: 45px;

  background-color: #ffffff;
}
label {
  font-weight: bold;
}
.map-form-item {
  margin-bottom: 30px;
}
.map-form .date-check,
.map-form .date-check-out {
  margin-right: 20px;
}
.date-check {
  letter-spacing: 0.3px;
}
.map-form .grown-ups {
  margin-right: 40px;
}
.children {
  margin-right: 25px;
  margin-left: 50px;
}
.map-form input[type="date"] {
  width: 345px;
  height: 35px;

  background-color: #f2f2f2;
  border: none;
}
.btn-find {
  padding: 15px 200px;

  font-weight: bold;
  font-size: 21px;
  color: #ffffff;

  background-color: #81b3d2;
}
.btn-find:hover {
  background-color: #669ec0;
}
.btn-find:active {
  background-color: #5496bd;
}
.btn-find:active.btn-find {
  color: rgba(255, 255, 255, 0.4);
}
.main-footer {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-align-items: center;
          align-items: center;
  min-height: 120px;
  margin: 0;
  margin-top: 30px;
  padding: 0;

  background-color: rgba(255, 255, 255, 0.9);
}
.footer-hashtag,
.footer-social,
.footer-copyright {
  width: 400px;

  text-align: center;
}
.footer-hashtag a {
  font-weight: bold;
  font-size: 21px;
  text-decoration: none;
}
.footer-copyright a {
  text-decoration: none;
}
.footer-copyright span {
  margin-right: 8px;
}
.social {
  margin-right: 5px;
  padding: 15px 13px;

  text-decoration: none;

  background-color: #81b3d2;
}
.icon-twitter,
.icon-facebook,
.icon-youtube {
  font-size: 19px;
  color: #ffffff;
}
.social:hover {
  background-color: #669ec0;
}
.social:active {
  background-color: #5496bd;
}
.social:active.icon-twitter,
.social:active.icon-facebook,
.social:active.icon-youtube {
  color: rgba(255, 255, 255, 0.4);
}
.footer-copyright .logo-htmlacademy svg {
  fill: #000000;
  stroke: #000000;
}
.footer-copyright .logo-htmlacademy:hover svg {
  fill: #81b3d2;
  stroke: #81b3d2;
}
.footer-copyright .logo-htmlacademy:active svg {
  fill: #bdbbbc;
  stroke: #bdbbbc;
}
.filtres {
  min-height: 215px;
  margin: 0;
  padding: 0;

  background-image: url("../img/filtres-bg-hotels.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.filtres-form {
  color: #ffffff;
}
.infrastructure {
  box-sizing: border-box;
  width: 320px;
  padding: 30px 70px;
}
.type-housing {
  box-sizing: border-box;
  width: 340px;
}
.cost-day {
  box-sizing: border-box;
  width: 540px;
}
.btn-cost-day {
  padding: 3px 35px;

  color: #ffffff;

  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 3px;
}
.filtres h2 {
  font-size: 16px;
  color: #ffffff;
}
.search-hotels h3 {
  font-size: 30px;
  line-height: 24px;
}
.hotels-found-count h3 {
  font-size: 21px;
  line-height: 26px;
}
.hotels-found {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
.hotels-found-item {
  width: 100%;
}
.btn-more,
.btn-book {
  padding: 4px 16px;
}
.btn-more {
  background-color: #81b3d2;
}
.btn-book {
  background-color: #766357;
}
.btn-more:hover {
  background-color: #669ec0;
}
.btn-more:active {
  background-color: #5496bd;
}
.btn-more:active.btn-more {
  color: rgba(255, 255, 255, 0.4);
}
.btn-book:hover {
  background-color: #604e43;
}
.btn-book:active {
  background-color: #503e33;
}
.btn-book:active.btn-book {
  color: rgba(255, 255, 255, 0.4);
}
.icon-star {
  font-size: 19px;
  color: #81b3d2;
}
.icon-up-dir,
.icon-down-dir {
  font-size: 23px;
  color: #cccccc;
  text-decoration: none;
}
.icon-up-dir:hover,
.icon-down-dir:hover {
  color: #000000;
}
.icon-up-dir:active,
.icon-down-dir:active {
  color: #81b3d2;
}
.icon-sort-active {
  color: #81b3d2;
}
.icon-sort-active:hover {
  color: #81b3d2;
}
.hotels-sort-type-title,
.sort-item{
  font-size: 12px;
  line-height: 18px;
}
.sort-item {
  color: #b2b2b2;
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}
.sort-item:hover {
  color: #81b3d2;
}
.sort-item:active{
  color: #000;
  border: none;
}
.active-sort {
  color: #81b3d2;
  border: none;
}
.active-sort:hover {
  color: #81b3d2;
}
.hotels-found-info h1 a{
  text-decoration: none;
}
